package-lock.json
client/node_modules
server/node_modules
server/uploads

icon.png
.DS_Store
client/src/assets/demo_video/joyride.mp4
client/src/pages/Program/Demo.js
client/.babelrc
.vscode/launch.json
client/src/assests/antd-custom.less
client/build
server/build

.editorconfig
.idea

client/debug.log
